:root {
    --primary-color: #121212;
    --secondary-color:#1f1e1e ;
    --font-color: #ffff;
    --clr-neutral-900: hsl(207, 19%, 9%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-accent-400: hsl(0, 0%, 100%);
}


*::before,
*::after {
    box-sizing: border-box;
}

/* Contenue */


body{
    display: grid;
    min-height: 100vh;
    place-items: center;
    line-height: 1.6;
    background: var(--clr-neutral-900);
    padding-right: 15em;
    padding: 0;
    margin: 0;
    color: #ffff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.scrollbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 15px;
    height: 0;
    opacity: 0;
    background: linear-gradient(to top, #e4e0e0, #686869);
}
.clickScrollbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 15px;
    height: 100%;
    background: rgba(170,170,170,0.356);
}

/* Navbar */


header{
    padding: 3%;
    background-color: var(--primary-color);
}

#navbar{
    display: flex;
}

#logoTitle{
    width: 80%;
}

#logoTitle img{
    position: absolute;
    left: 40px;
    margin-top: 20px;
}

#titleNavbar{
    margin-left: 1%;
    display: inline-block;
    padding-left: 70px;
    font-size: 40px;
}

#navUl{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-top: auto;
    margin-bottom: auto;
}  

#navUl li{
    transition: 0.5s;
}

#navUl li:hover{
    transform: scale(1.5);
    transition: 0.5s;
}

li{
    margin-left: 9%;
}

li a{
  color: white;
  text-decoration: none;
}

#favicon{
    margin-top: auto;
    margin-bottom: auto;
    width: 64px;
    height: 64px;
}

/* BANNIERE */

#banniere{
    display: flex;
    margin-left: 5%;
    margin-top: 5%;
}

#logos{
    display: flex;
    flex-direction: column;
    width: 10%;
}

#logos img{
    width: 64px;
    height: auto;
    margin-top: 30%;
}

#imgBanniere{
    width: 40%;
    height: auto;
}

#imgBanniere img{
    width: 100%;
    height: 100%;
    border-radius: 2%;
}

#pBanniere{
    width: 60%;
}

#pBanniere p{
    padding: 5%;
    text-align: center;
    line-height: 25px;
}

#pBanniere hr{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#pBanniere img{
    width: 64px;
    margin-top: 5%;
    margin-left:27%;
    transition: 0.5s;
}

#pBanniere img:hover{
    transform: scale(2);
    transition: 0.5s;
}

/* CITATION */

#Citation{
    width: 50%;
}

#titleCitation h5{
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

#titleCitation p{
    text-align: center;
}

#downArrow{
    width: 32px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* SKILLS */


.sectionSkills{
    background-color: var(--secondary-color);
    padding-bottom: 5%;
}

.project{
    display: flex;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-top: 500px;
    width: 100%;
}

.square {
    width: 500px;
    height: 500px;
    background-color: var(--secondary-color);
}

/* MODALS JS */

#borderDiff{
    border: 5px solid black;
}

.modalJS {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
.modal-contentJS {
    background-color: var(--secondary-color);
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}
/* MODAL HTML */
.modalHTML {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
.modal-contentHTML {
    background-color: var(--secondary-color);
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}
/* MODAL CSS */
.modalCSS {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
.modal-contentCSS {
    background-color: var(--secondary-color);
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}
/* MODAL WP */
.modalWP {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
.modal-contentWP {
    background-color: var(--secondary-color);
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.closeHTML {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.closeHTML:hover,
.closeHTML:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.closeCSS {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.closeCSS:hover,
.closeCSS:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.closeWP {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.closeWP:hover,
.closeWP:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.icon{
    width: 64px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}

.skills{
    display: flex;
    justify-content: space-evenly;
    padding-top: 5%;
}

.skills button{
    background-color: var(--primary-color);
    border-radius: 5px;
    width: 300px;
    display: flex;
    /* border: 1px solid white; */
    border: none;
    transition: 0.5s;
}

.skills button:hover{
    background-color: rgb(59, 59, 59);
    transition: 0.5s;
    transform: scale(1.5);
}

button h5{
    font-size:large;
    color: #ffff;
    margin-left: auto;
    margin-right: auto;
}

.hrMiddle{
    width: 90%;
    margin-top: 5%;
    height: 1px;
    background-color: #fff;
}

.left{
   margin-left: 5%;
   margin-bottom: -3.5%;
   font-size: large;
}

/* PROJECT */   





.sectionProject{
    background-color: var(--primary-color);
}

#cardFlex {
    padding-top: 3%;
    padding-bottom: 3%;
}

.card {
    color: var(--clr-neutral-100);
    background-image: url(./img/fitness.jpg);
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 35ch;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 500ms ease;
}
 
.card:hover{
    transform: scale(1.05);
}
 
.card:hover .cardTitle::after{
    transform: scaleX(1);
}
 
.card:hover .cardContent{
    transform: translateY(0);
}
 
.cardContent{
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(20 0% 0% / 0.3) 20%,
        hsl(0 0% 0% / 1)
    );
    transform: translateY(70%);
    transition: transform 500ms ease;
}
 
.cardTitle{
    position: relative;
}
 
.cardTitle::after{
    content: "";
    position: absolute;
    height: 4px;
    left: calc(var(--padding)* -1);
    bottom: 0;
    width: calc(100% + var(--padding));
    background: var(--clr-accent-400);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 500ms ease;
}
 
.cardBody {
    color: rgb(255 255 255 / 0.8);
}
 
.button{
    cursor: pointer;
    /* display: inline; */
    text-decoration: none;
    color: var(--clr-neutral-900);
    background-color: var(--clr-accent-400);
    padding: 0.5em 1.25em;
    border-radius: 0.25em;
}
 
.button:hover,
.button:focus{
    background-color: rgb(108, 108, 245);
 
}

/* .bloc1{
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 85%;
    display: flex;
    justify-content: center;
}

.bloc1 img{
    width: 100%;
    height: auto;
} */

/* .bloc1 p{
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
    text-align: justify;
} */

.blocMap{
    padding-top: 5%;
    display: flex;
}

.blocMap iframe{
    width: 30%;
    padding-right: 10%;
    padding-left: 10%;
    display: block;
}

.blocText{
    width: 50%;
    margin-left: 8%;
    text-align: justify;
    line-height: 30px;
}

.blocActivity{
    padding-top: 5%;
    margin-right: auto;
    margin-left: auto;
    width: 85%;
    display: flex;
}

.blocActivity img{
    margin-top: auto;
    margin-bottom: auto;
    width: 40%;
    height: 20%;
}

.blocActivity p{
    width: 35%;
    margin-left: 15%;
    text-align: justify;
    line-height: 30px; 
}

.blocActivity2{
    padding-top: 5%;
    margin-right: auto;
    margin-left: auto;
    width: 85%;
    display: flex;
    padding-bottom: 5%;
}

.blocActivity2 img{
    width: 40%; 
    height: 20%;
    margin-top: auto;
    margin-bottom: auto;
}

.blocActivity2 p{
    width: 35%;
    margin-right: 20%;
    text-align: justify;
    line-height: 30px; 
}

.blocContact{
    padding-top: 5%;
    display: flex;
    justify-content: space-evenly;
}

.contact{
    display: flex;
    background-color: var(--primary-color);
    width: 300px;
    height: 100px;
    border-radius: 5px;
    transition: 0.5s;
}

.contact:hover{
    transform: scale(1.5);
    transition: 0.8s;
}

.contact h5{
    font-size: 25px;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.contact #mail{
    font-size: 15px;
}

.contact #localisation{
    margin-left: auto;
    margin-right: auto;
}

.blocFooter{
    display: flex;
    justify-content: center;
}

.blocFooter img{
    width: 50px;
    margin-left: 50px;
    padding: 20px;
}

#anchor{
    /* margin-top: 10px; */
    width: 32px;
    transition: 0.5s;
}

#anchor:hover{
    width: 70px;
    transition: 0.5s;
}

@media (max-width: 1024px) {  
    .blocMap{
        display: block;
    }

    .blocMap iframe{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    
    .blocText{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
}


@media (max-width: 992px) {  

    #titleNavbar{
        margin-left: 1%;
        display: inline-block;
        padding-left: 70px;
        font-size: 25px;
    }

    #logoTitle img{
        left: 20px;
        top: 10px;
    }

    #banniere{
        display: block;
    }

    #logos{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        width: 10%;
    }

    #imgBanniere{
        width: 90%;
        height: auto;
        margin-left: 1%;
        margin-top: 5%;
    }

    #pBanniere{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    #pBanniere img{
        margin-top: 5%;
        margin-left: 20%;
        transition: 0.5s;
    }

    /* .blocMap iframe{
        margin-right: 5%;
    } */

    .bloc1{
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
        padding-bottom: 5%;
        width: 70%;
        display: block;
    }
    
    .blocActivity{
        padding-top: 5%;
        margin-right: auto;
        margin-left: auto;
        width: 85%;
        display: block;
    }

    .blocActivity img{
        margin-left: 10%;
        width: 80%;
        height: 20%;
    }

    .blocActivity p{
        width: 70%;
        margin-right: 0;
        text-align: center;
        text-align: justify;
        line-height: 30px; 
    }

    .blocActivity2{
        padding-top: 5%;
        margin-right: auto;
        margin-left: auto;
        width: 85%;
        display: block;
    }

    .blocActivity2 img{
        margin-left: 10%;
        width: 80%;
        height: 20%;
    }

    .blocActivity2 p{
        width: 70%;
        margin-left: 15%;
        text-align: center;
        text-align: justify;
        line-height: 30px; 
    }
}



@media (max-width: 768px) { 
    #logoTitle img{
        position: absolute;
        left: 20px;
        margin-top: 20px;
    }

    #navUl{
        display: none;
    }

    
    
}

@media (max-width: 576px) {
    
    

    .skills{
        display: block;
    }

    .skills button{
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
    }

    .blocContact{
        display: flex;
        flex-direction: column;
    }

    .contact{
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
    }
}